.card-landing-page {
    background-color: #f8f9fa;
    border: none;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.card-query-page{
    background-color: #f8f9fa;
    border: none;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    text-align: center;
}